name: Build
on:
  push:
  pull_request_target:
    types:
      - labeled

jobs:
  build:
    if: ${{ github.event.action != 'labeled' || github.event.label.name == 'ok-to-test' }}
    uses: ./.github/workflows/build.yaml
    with:
      mode: snapshot
    secrets: inherit
    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: write

  component-descriptor:
    uses: gardener/cc-utils/.github/workflows/post-build.yaml@master
    needs:
      - build
    secrets: inherit
    permissions:
      id-token: write
      contents: write
